<%- include("partials/header.ejs") %>

<section id="admin">
  <div class="container-fluid about-top">
    <h1>Admin Dashboard</h1>
  </div>
  <div class="container-fluid container-admin">
    <div class="row">
      <!-- SideBar -->
      <div class="col-md-3">
        <div
          class="nav flex-column nav-pills mb-3"
          id="v-pills-tab"
          role="tablist"
          aria-orientation="vertical"
        >
          <a
            class="nav-link active"
            id="v-pills-addItems-tab"
            data-toggle="pill"
            href="#v-pills-addItems"
            role="tab"
            aria-controls="v-pills-addItems"
            aria-selected="true"
            >Add Items</a
          >
          <a
            class="nav-link"
            id="v-pills-delItem-tab"
            data-toggle="pill"
            href="#v-pills-delItems"
            role="tab"
            aria-controls="v-pills-delItems"
            aria-selected="false"
            >Delete Items</a
          >
          <a
            class="nav-link"
            id="v-pills-featured-tab"
            data-toggle="pill"
            href="#v-pills-featured"
            role="tab"
            aria-controls="v-pills-featured"
            aria-selected="true"
            >Featured Products</a
          >
          <a
            class="nav-link"
            id="v-pills-orders-tab"
            data-toggle="pill"
            href="#v-pills-orders"
            role="tab"
            aria-controls="v-pills-orders"
            aria-selected="false"
            >Orders</a
          >
          <a class="nav-link" id="v-pills-logout-tab" href="/logout">Logout</a>
        </div>
      </div>
      <div class="col-md-9">
        <div class="tab-content" id="v-pills-tabContent">
          <div
            class="tab-pane fade show active"
            id="v-pills-addItems"
            role="tabpanel"
            aria-labelledby="v-pills-addItems-tab"
          >
            <!-- Add Items -->
            <section id="addItems">
              <div class="container">
                <form action="/add" method="post">
                  <div class="form-group">
                    <label for="name">Product Name:</label>
                    <input
                      class="form-control"
                      type="text"
                      name="name"
                      id=""
                      required
                    />
                  </div>

                  <div class="form-group">
                    <label for="imageUrl">Image URL:</label>
                    <input
                      class="form-control"
                      type="url"
                      name="imageUrl"
                      id=""
                      placeholder="should end with .png/ .jpg/ .jpeg"
                      required
                    />
                  </div>
                  <div class="form-group">
                    <label for="category">Category:</label>
                    <select class="form-control" name="category" id="" required>
                      <option value="t-shirt">T-Shirt</option>
                      <option value="shirt">Shirt</option>
                      <option value="pant">Pant</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="size">Size:</label>
                    <select class="form-control" name="size" id="" required>
                      <option value="M">M</option>
                      <option value="L">L</option>
                      <option value="X">X</option>
                      <option value="XL">XL</option>
                      <option value="30">30</option>
                      <option value="32">32</option>
                      <option value="34">34</option>
                      <option value="36">36</option>
                      <option value="38">38</option>
                      <option value="40">40</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="price">Price:</label>
                    <input
                      class="form-control"
                      type="number"
                      name="price"
                      id=""
                      required
                    />
                  </div>
                  <div class="form-group">
                    <label for="description">Description:</label>
                    <textarea
                      class="form-control"
                      name="description"
                      id=""
                      rows="4"
                      required
                    ></textarea>
                  </div>
                  <div class="text-center mt-4">
                    <button class="btn btn-success" type="submit" name="added">
                      Add Item
                    </button>
                  </div>
                </form>
              </div>
            </section>
          </div>
          <!-- Delete Item -->
          <div
            class="tab-pane fade"
            id="v-pills-delItems"
            role="tabpanel"
            aria-labelledby="v-pills-delItems-tab"
          >
            <section id="deleteItem">
              <div class="container">
                <form action="/delete" method="post">
                  <div class="form-group">
                    <label for="name">Product Name:</label>
                    <input
                      class="form-control"
                      type="text"
                      name="name"
                      id=""
                      placeholder="should be exact as product name"
                      required
                    />
                  </div>
                  <div class="text-center pt-3">
                    <button class="btn btn-danger" type="submit">Delete</button>
                  </div>
                </form>
              </div>
            </section>
          </div>
          <!-- Featured Products -->
          <div
            class="tab-pane fade"
            id="v-pills-featured"
            role="tabpanel"
            aria-labelledby="v-pills-featured-tab"
          >
            <form action="/featured-products" method="post">
              <div class="form-group">
                <label for="featuredProduct">Name of the Product:</label>
                <input
                  class="form-control"
                  type="text"
                  name="featuredProduct"
                  id=""
                />
                <label class="my-2" for="operation">Operation:</label>
                <select class="form-control" name="operation" id="">
                  <option value="add">Add</option>
                  <option value="delete">Delete</option>
                </select>
              </div>
              <div class="text-center">
                <button class="btn btn-dark mx-2" type="submit">
                  Submit
                </button>
              </div>
            </form>

            <!-- Product List -->
          </div>
          <!-- Orders -->
          <div
            class="tab-pane fade"
            id="v-pills-orders"
            role="tabpanel"
            aria-labelledby="v-pills-orders-tab"
          >
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
              <li class="nav-item">
                <a
                  class="nav-link active"
                  id="pendingOrder-tab"
                  data-toggle="pill"
                  href="#pendingOrder"
                  role="tab"
                  aria-controls="pendingOrder"
                  aria-selected="true"
                  >Pending</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  id="processingOrder-tab"
                  data-toggle="pill"
                  href="#processingOrder"
                  role="tab"
                  aria-controls="processingOrder"
                  aria-selected="false"
                  >Processing</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  id="deliveredOrder-tab"
                  data-toggle="pill"
                  href="#deliveredOrder"
                  role="tab"
                  aria-controls="deliveredOrder"
                  aria-selected="false"
                  >Delivered</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  id="canceledOrder-tab"
                  data-toggle="pill"
                  href="#canceledOrder"
                  role="tab"
                  aria-controls="canceledOrdert"
                  aria-selected="false"
                  >Canceled</a
                >
              </li>
            </ul>
            <hr />
            <div class="tab-content" id="pills-tabContent">
              <div
                class="tab-pane fade show active"
                id="pendingOrder"
                role="tabpanel"
                aria-labelledby="pendingOrder-tab"
              >
                <% if (pendingOrders.length !== 0) { %> <%
                pendingOrders.forEach(function(order) { %>
                <div class="card p-3 mb-3 bg-light text-center">
                  <div class="row">
                    <div class="col-xl-4">
                      <h5 class="font-weight-bold p-0">Items</h5>
                      <hr />
                      <% let i=1;%> <% order.products.forEach(function(eachItem)
                      { %>
                      <p class="text-left ml-3">
                        <%= i %>. <%= eachItem.item.name %> (x<%=
                        eachItem.quantity %> )
                      </p>
                      <% i++; %> <% }); %>
                    </div>
                    <div class="col-xl-2">
                      <h5 class="font-weight-bold">Status</h5>
                      <hr />
                      <p class="font-weight-bold" style="color: red;">
                        <%= order.orderStatus %>
                      </p>
                    </div>
                    <div class="col-xl-3">
                      <h5 class="font-weight-bold">Total</h5>
                      <hr />
                      <p><%= order.amount %> Tk</p>
                    </div>
                    <div class="col-xl-3">
                      <h5 class="font-weight-bold">Details</h5>
                      <hr />
                      <a class="btn btn-danger" href="/order/<%= order._id %>"
                        >Details</a
                      >
                    </div>
                  </div>
                </div>
                <% }) %> <% } else { %>
                <div class="text-center">
                  <h4>No Order Pending!</h4>
                  <i class="fas fa-smile fa-7x"></i>
                </div>
                <% } %>
              </div>
              <div
                class="tab-pane fade"
                id="processingOrder"
                role="tabpanel"
                aria-labelledby="processingOrder-tab"
              >
                <% if (processingOrders.length !== 0) { %> <%
                processingOrders.forEach(function(order) { %>
                <div class="card p-3 mb-3 bg-light text-center">
                  <div class="row">
                    <div class="col-xl-4">
                      <h5 class="font-weight-bold p-0">Items</h5>
                      <hr />
                      <% let i=1;%> <% order.products.forEach(function(eachItem)
                      { %>
                      <p class="text-left ml-3">
                        <%= i %>. <%= eachItem.item.name %> (x<%=
                        eachItem.quantity %> )
                      </p>
                      <% i++; %> <% }); %>
                    </div>
                    <div class="col-xl-2">
                      <h5 class="font-weight-bold">Status</h5>
                      <hr />
                      <p class="font-weight-bold" style="color: orange;">
                        <%= order.orderStatus %>
                      </p>
                    </div>
                    <div class="col-xl-3">
                      <h5 class="font-weight-bold">Total</h5>
                      <hr />
                      <p><%= order.amount %> Tk</p>
                    </div>
                    <div class="col-xl-3">
                      <h5 class="font-weight-bold">Details</h5>
                      <hr />
                      <a class="btn btn-warning" href="/order/<%= order._id %>"
                        >Details</a
                      >
                    </div>
                  </div>
                </div>
                <% }) %> <% } else { %>
                <div class="text-center">
                  <h4>No Order Processed Yet!</h4>
                  <i class="fas fa-frown fa-7x"></i>
                </div>
                <% } %>
              </div>
              <div
                class="tab-pane fade"
                id="deliveredOrder"
                role="tabpanel"
                aria-labelledby="deliveredOrder-tab"
              >
                <% if (deliveredOrders.length !== 0) { %> <%
                deliveredOrders.forEach(function(order) { %>
                <div class="card p-3 mb-3 bg-light text-center">
                  <div class="row">
                    <div class="col-xl-4">
                      <h5 class="font-weight-bold p-0">Items</h5>
                      <hr />
                      <% let i=1;%> <% order.products.forEach(function(eachItem)
                      { %>
                      <p class="text-left ml-3">
                        <%= i %>. <%= eachItem.item.name %> (x<%=
                        eachItem.quantity %> )
                      </p>
                      <% i++; %> <% }); %>
                    </div>
                    <div class="col-xl-2">
                      <h5 class="font-weight-bold">Status</h5>
                      <hr />
                      <p class="font-weight-bold" style="color: green;">
                        <%= order.orderStatus %>
                      </p>
                    </div>
                    <div class="col-xl-3">
                      <h5 class="font-weight-bold">Total</h5>
                      <hr />
                      <p><%= order.amount %> Tk</p>
                    </div>
                    <div class="col-xl-3">
                      <h5 class="font-weight-bold">Details</h5>
                      <hr />
                      <a class="btn btn-success" href="/order/<%= order._id %>"
                        >Details</a
                      >
                    </div>
                  </div>
                </div>
                <% }) %> <% } else { %>
                <div class="text-center">
                  <h4>No Order Delivered Yet!</h4>
                  <i class="fas fa-frown fa-7x"></i>
                </div>
                <% } %>
              </div>
              <div
                class="tab-pane fade"
                id="canceledOrder"
                role="tabpanel"
                aria-labelledby="canceledOrder-tab"
              >
                <% if (canceledOrders.length !== 0) { %> <%
                canceledOrders.forEach(function(order) { %>
                <div class="card p-3 mb-3 bg-light text-center">
                  <div class="row">
                    <div class="col-xl-4">
                      <h5 class="font-weight-bold p-0">Items</h5>
                      <hr />
                      <% let i=1;%> <% order.products.forEach(function(eachItem)
                      { %>
                      <p class="text-left ml-3">
                        <%= i %>. <%= eachItem.item.name %> (x<%=
                        eachItem.quantity %> )
                      </p>
                      <% i++; %> <% }); %>
                    </div>
                    <div class="col-xl-2">
                      <h5 class="font-weight-bold">Status</h5>
                      <hr />
                      <p class="font-weight-bold" style="color: red;">
                        <%= order.orderStatus %>
                      </p>
                    </div>
                    <div class="col-xl-3">
                      <h5 class="font-weight-bold">Total</h5>
                      <hr />
                      <p><%= order.amount %> Tk</p>
                    </div>
                    <div class="col-xl-3">
                      <h5 class="font-weight-bold">Details</h5>
                      <hr />
                      <a class="btn btn-danger" href="/order/<%= order._id %>"
                        >Details</a
                      >
                    </div>
                  </div>
                </div>
                <% }) %> <% } else { %>
                <div class="text-center">
                  <h4>No Order Canceled Yet!</h4>
                  <i class="fas fa-smile fa-7x"></i>
                </div>
                <% } %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%- include("partials/footer.ejs") %>
