<%- include("partials/header.ejs") %>

<section id="allProduct">
  <div class="container-fluid about-top">
    <h1>All Products</h1>
  </div>
  <div class="container-fluid container-t-shirt">
    <div class="row">
      <!-- Filter Part -->
      <div class="col-md-3 py-3">
        <div>
          <h5 class="mb-3 font-weight-bold">Filter by category</h5>
        </div>
        <div class="my-2">
          <a class="btn btn-outline-dark" href="/products">All Products</a>
        </div>
        <div class="my-2">
          <a class="btn btn-outline-dark" href="/category/t-shirt">T-Shirt</a>
        </div>
        <div class="my-2">
          <a class="btn btn-outline-dark" href="/category/shirt">Shirt</a>
        </div>
        <div class="my-2">
          <a class="btn btn-outline-dark" href="/category/pant">Pant</a>
        </div>

        <!-- Filter by price -->
        <div class="py-3">
          <div>
            <h5 class="mb-3 font-weight-bold">Filter by Price</h5>
          </div>
          <div>
            <a class="filter-by-price" href="/products/price/0/500"
              >0 - 499 TK</a
            >
          </div>
          <div>
            <a class="filter-by-price" href="/products/price/500/1000"
              >500 - 999 TK</a
            >
          </div>
          <div>
            <a class="filter-by-price" href="/products/price/1000/5000"
              >1000 - 5000 TK</a
            >
          </div>
          <div>
            <a class="filter-by-price" href="/products">Reset</a>
          </div>
        </div>
      </div>

      <div class="col-md-9">
        <!-- Products Part -->

        <!-- Loop -->
        <% products.forEach(function(product) { %>
        <div class="row bg-light py-3 mb-3 productStyle">
          <div class="col-md-3">
            <div class="my-auto pb-3">
              <img src="<%= product.imageUrl %> " alt="" width="100%" />
            </div>
          </div>
          <div class="col-md-6">
            <div>
              <h4><%= product.name %></h4>
            </div>
            <div>
              <p>Description: <%= product.description %></p>
            </div>
            <div>
              <p>Size: <%= product.size %></p>
            </div>
            <div>
              <p>Price: <%= product.price %> TK</p>
            </div>
          </div>
          <div class="col-md-3">
            <div class="text-center py-5">
              <a
                href="/category/<%= product.category %>/<%= product.name %>  "
                type="submit"
                class="btn btn-dark"
                >Details</a
              >
            </div>
          </div>
        </div>

        <% }); %>
      </div>
    </div>
  </div>
</section>

<%- include("partials/footer.ejs") %>
