<%- include("partials/header.ejs") %> 

<section id="cart-section">
  <div class="container-fluid about-top">
    <h1>Your Cart</h1>
  </div>
  <div class="container-fluid cart-section">
    <% if (products && totalItems != 0) { %>
    <table class="table table-bordered text-center">
      <thead>
        <tr>
          <th>#</th>
          <th>Product name</th>
          <th>Quantity</th>
          <th>Price</th>
          <th>Remove</th>
        </tr>
      </thead>
      <tbody>
        <% var i = 1;%>
        <% products.forEach(function(product) { %>
          
          <tr>
            <th scope="row"> 
              <%= i %>
              <% i = i + 1; %> 
          </th>
            <td><%= product.item.name %> (<%= product.size %>)</td>
            <th> <a href="/reduce/<%= product.item.name %>" class="btn btn-danger">-</a> <%= product.quantity %> <a href="/increase/<%= product.item.name %>" class="btn btn-success">+</a> </th>
            <td><%= product.price %> TK</td>
            <td>
              <a href="removeItem/<%= product.item.name %>"><i class="fas fa-times"></i></a>
            </td>
          </tr>
          
          
        <% }) %> 

        <tr class="total">
          <th scope="row"></th>
          <td class="font-weight-bold">Total</td>
          <td class="font-weight-bold">x <%= totalItems %></td>
          <td class="font-weight-bold"><%= totalPrice %> TK</td>
          <td></td>
        </tr>
      </tbody>
    </table>
    <div class="text-right">
      <a href="/products" class="btn btn-outline-danger">Back to products</a>
      <a href="/checkout" class="btn btn-success">Checkout</a>
    </div>
    <% } else { %> 
      <div class="text-center m-3">
        <h4>No items added yet!</h4>
        <i class="fas fa-frown fa-7x p-3"></i>
        <br>
        <a href="/products" class="btn btn-dark">Go to products page</a>
      </div>
      
      <% } %>
      
      
  </div>
  
  </div>
</section>

<%- include("partials/footer.ejs") %> 
