<%- include("partials/header.ejs") %>
<!-- Top Slider -->

<section id="top-carousel">
  <div class="container-fluid">
    <div
      id="carouselExampleIndicators"
      class="carousel slide"
      data-ride="carousel"
    >
      <ol class="carousel-indicators">
        <li
          data-target="#carouselExampleIndicators"
          data-slide-to="0"
          class="active"
        ></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row">
            <div class="col-md-6">
              <h1>Get your desired fasionable clothes.</h1>
            </div>
            <div class="col-md-6">
              <div class="text-center my-2">
                <img
                  class="home-carousal-image1"
                  src="images/home/white.png"
                  alt=""
                />
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row">
            <div class="col-md-6">
              <h1>
                Buy Best Quality Shirts From our<span><br /></span> store.
              </h1>
            </div>
            <div class="col-md-6">
              <div class="text-center my-2">
                <img
                  class="home-carousal-image2"
                  src="images/home/blue-shirt.png"
                  alt=""
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <a
        class="carousel-control-prev"
        href="#carouselExampleIndicators"
        role="button"
        data-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a
        class="carousel-control-next"
        href="#carouselExampleIndicators"
        role="button"
        data-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</section>

<!-- Categories -->

<section id="categories">
  <div class="container-fluid">
    <div><h1 class="category-h1">Categories</h1></div>
    <div class="row">
      <div class="col-md-4 categories-col">
        <a href="/category/t-shirt" class="btn btn-outline-dark btn-lg cat-btn"
          >T-Shirts</a
        >
      </div>
      <div class="col-md-4 categories-col">
        <a href="/category/pant" class="btn btn-outline-dark btn-lg cat-btn">Pants</a>
      </div>
      <div class="col-md-4 categories-col">
        <a href="/category/shirt" class="btn btn-outline-dark btn-lg cat-btn">Shirts</a>
      </div>
    </div>
  </div>
</section>

<!-- Featured-Product -->

<section id="featured-product">
  <div class="container-fluid">
    <div><h1 class="featured-h1">Featured Products</h1></div>
    <div class="row text-center">
      <% products.forEach(function(product) { %>
      <div class="col-md-4">
        <div class="card cat-card">
          <img
            src="<%= product.imageUrl %> "
            class="card-img-top p-2"
            alt="..."
            width="90%"
          />
          <div class="card-body">
            <h5 class="card-title"><%= product.name %></h5>
            <p class="card-text">
              Description: <%= product.description %>
              <br />
              Size: <%= product.size %>
              <br />
              Price: <%= product.price %> TK
            </p>
            <a
              href="/category/<%= product.category %>/<%= product.name %>  "
              class="btn btn-dark"
              >View Details</a
            >
          </div>
        </div>
      </div>
      <% }); %>
    </div>
  </div>
</section>

<!-- Newsletter -->

<section id="newsletter">
  <div class="container-fluid">
    <div>
      <h1 class="text-center">Sign Up To Our Newsletter</h1>
    </div>
    <form action="" method="post">
      <div class="form-group newsletter">
        <input
          class="form-control my-4"
          type="text"
          name="name"
          placeholder="name"
          required
        />
        <input
          class="form-control my-4"
          type="email"
          name="email"
          id=""
          placeholder="email"
          required
        />
        <div class="newsletter-button">
          <button class="btn btn-outline-dark mb-4" type="submit">
            Sign me up
          </button>
        </div>
      </div>
    </form>
  </div>
</section>

<%- include("partials/footer.ejs") %>
